.MessageBox-modal-background {
	position:fixed;
	margin:0; padding:0;
	top:0; left:0;
	width:100%; height:100%;
	z-index:999;
}
.MessageBox-dialog-background {
	position:fixed;
	top:0; left:0;
	margin:0; padding:0;
	z-index:9999;
	background:#FFF;
	border-radius:3px;
	border:solid 1px #e2e2e2;
	overflow:hidden;
}
.MessageBox-dialog-content {
	min-width:350px; max-width:450px;
	position:relative; display:block;
}
.MessageBox-dialog-content > h1 {
	position:relative; display:block;
	font:15px Helvetica; color:#585858;
	font-weight:bold; background:#eee;
	margin:0; padding:12px 10px;
	border-bottom:1px solid #d5d5d5;
}
.MessageBox-dialog-content > div {
	margin:0; padding:15px;
	font:12px Helvetica;
	color:#000; line-height:20px;
	max-height:100px; overflow:auto;
}
.MessageBox-dialog-buttons {
	position:relative; display:block;
	padding:10px 10px; margin:0 10px;
	border-top: 1px solid #ddd;
}
.MessageBox-dialog-buttons > button {
	margin-right:10px;
}
.MessageBox-dialog-timer {
	position:absolute; padding:10px;
	right:5px; top:5px; display:none;
	font:12px Helvetica; color:#585858;
	font-weight:bold;
}

.cancel,
.continue,
.danger {
	position:relative;
	display:inline-block;
	height:25px; line-height:25px;
	padding:0px 10px 0px 10px;
	font:12px Helvetica;
	border-radius: 2px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.1);
	outline:0; cursor:pointer;
}

.continue {
	color:#FFF;
	background-image: -webkit-linear-gradient(top,#4d72a6,#3d5a84);
	background-image: -moz-linear-gradient(top,#4d72a6,#3d5a84);
	border: 1px solid #2d4261;
}
.continue:hover {
	background-image: -webkit-linear-gradient(top,#4d72a6,#284A7A);
	background-image: -moz-linear-gradient(top,#4d72a6,#284A7A);
}
.continue:active {
	background-image: -webkit-linear-gradient(top,#4d72a6,#5574A0);
	background-image: -moz-linear-gradient(top,#4d72a6,#5574A0);
}

.danger {
	color:#FFF;
	background-image: -webkit-linear-gradient(top,#E02D51,#A01B31);
	background-image: -moz-linear-gradient(top,#E02D51,#A01B31);
	border: 1px solid #B11029;
}
.danger:hover {
	background-image: -webkit-linear-gradient(top,#E02D51,#901429);
	background-image: -moz-linear-gradient(top,#E02D51,#901429);
}
.danger:active {
	background-image: -webkit-linear-gradient(top,#E02D51,#B92B43);
	background-image: -moz-linear-gradient(top,#E02D51,#B92B43);
}

.cancel {
	color:#000;
	background-image: -webkit-linear-gradient(top,#ffcc1a,#e6b200);
	background-image: -moz-linear-gradient(top,#ffcc1a,#e6b200);
	border: 1px solid #b38b00;	
}
.cancel:hover {
	background-image: -webkit-linear-gradient(top,#ffcc1a,#DAA800);
	background-image: -moz-linear-gradient(top,#ffcc1a,#DAA800);
}
.cancel:active {
	background-image: -webkit-linear-gradient(top,#ffcc1a,#EBBC1E);
	background-image: -moz-linear-gradient(top,#ffcc1a,#EBBC1E);
}
